<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1071621340417514</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.361354133867-133tirp0rajmk5krpahb2a1946p53u8t</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1071621340417514</string>
	<key>FacebookClientToken</key>
	<string>8d55af9f17f4d7cf93bbe7cfe611a121</string>
	<key>FacebookDisplayName</key>
	<string>Quoridor-iOS-Game</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
